* {
	margin: 0;
	padding: 0;
}

html, body {
	box-sizing: border-box;
	height: 100%;
}

body {
	color: #FFFFFF;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	overflow: hidden;
}

code, span {
	display: inline-block;
}

input, textarea {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

td, th {
	text-align: left;
}

th {
	font-weight: bold;
	padding-right: 20px;
}

#canvas {
	display: block;
	height: 100%;
	width: 100%;
}

#audio-select {
	cursor: pointer;
	display: flex;
	left: 60px;
	line-height: 24px;
	position: absolute;
	top: 60px;
}

	#audio-select .fa {
		background-color: #A2143B;
		font-size: 24px;
		padding: 10px;
		width: 24px;
	}

	#audio-select .text {
		background-color: #7E162B;
		padding: 10px 20px;
	}

	#audio-select:hover .text {
		background-color: #641323;
	}

#file-input-audio {
	display: none;
}

.overlay {
	background-color: rgba( 0, 0, 0, 0.4 );
	box-sizing: border-box;
	line-height: 150%;
	padding: 16px 20px;
	position: absolute;
}

.overlay-info {
	display: none;
	left: 60px;
	min-width: 226px;
	top: 124px;
}

	.overlay-info td {
		max-width: 400px;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

.overlay-audio-pause,
.overlay-vis-pause {
	border-radius: 4px;
	display: none;
	font-weight: bold;
	left: calc( 50% - 150px );
	top: 40%;
	width: 300px;
}
