* {
	margin: 0;
	padding: 0;
}

html, body {
	box-sizing: border-box;
	height: 100%;
}

body {
	color: #FFFFFF;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

code, span {
	display: inline-block;
}

input, textarea {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

td, th {
	text-align: left;
}

th {
	font-weight: bold;
	padding-right: 20px;
}

#canvas {
	display: block;
	height: 100%;
	width: 100%;
}

#audio-select {
	color: #000000;
	cursor: pointer;
	display: flex;
	left: 60px;
	line-height: 24px;
	position: absolute;
	top: 60px;
}

	#audio-select .fa {
		background-color: rgba( 255, 255, 255, 0.8 );
		font-size: 24px;
		padding: 10px;
		width: 24px;
	}

	#audio-select .text {
		background-color: rgba( 255, 255, 255, 0.6 );
		padding: 10px 20px;
	}

	#audio-select:hover .text {
		background-color: rgba( 255, 255, 255, 0.8 );
	}

#file-input-audio {
	display: none;
}

.controls {
	color: #000000;
	display: none;
	left: calc( 50% - 220px );
	pointer-events: none;
	position: absolute;
	top: 360px;
	width: 440px;
}

	.controls .fa {
		background-color: rgba( 255, 255, 255, 0.6 );
		cursor: pointer;
		font-size: 12px;
		line-height: 12px;
		padding: 10px;
		pointer-events: all;
		text-align: center;
		width: 12px;
	}

	.controls .fa:hover {
		background-color: rgba( 255, 255, 255, 0.8 );
	}

.overlay {
	background-color: rgba( 0, 0, 0, 0.2 );
	box-sizing: border-box;
	line-height: 150%;
	padding: 16px 20px;
	position: absolute;
}

.overlay-info {
	display: none;
	left: calc( 50% - 220px );
	width: 440px;
	top: 270px;
}

	.overlay-info td {
		max-width: 340px;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

.overlay-audio-pause,
.overlay.error,
.overlay-vis-pause {
	display: none;
	font-weight: bold;
	right: 60px;
	top: 60px;
	width: 300px;
}

.overlay.error {
	background-color: rgba( 255, 0, 0, 0.8 );
	display: block;
	top: 144px;
}

#audio-element {
	display: none;
}
